logic-app-template/template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_integrations_demo_fzb_name": {
            "defaultValue": "{{LOGIC_APP_NAME}}",
            "type": "string"
        },
        "connections_keyvault_externalid": {
            "defaultValue": "/subscriptions/{{SUBSCRIPTION_ID}}/resourceGroups/integrations-demo/providers/Microsoft.Web/connections/keyvault",
            "type": "string"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_integrations_demo_fzb_name')]",
            "location": "centralus",
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_an_HTTP_request_is_received": {
                            "type": "Request",
                            "kind": "Http"
                        }
                    },
                    "actions": {
                        "Trigger_Zappier_Webhook_(HTTP)": {
                            "runAfter": {
                                "Get_Zapier_Webhook_URL": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "uri": "{{ZAPIER_WEBHOOK_URL}}/?correlationId=@{variables('correlationId')}",
                                "method": "POST",
                                "body": {
                                    "firstName": "@{body('Parse_JSON')?['firstName']}",
                                    "lastName": "@{body('Parse_JSON')?['lastName']}",
                                    "email": "@{body('Parse_JSON')?['email']}",
                                    "phone": "@{body('Parse_JSON')?['phone']}",
                                    "contactId": "@{body('Parse_JSON')?['contactId']}",
                                    "checkoutUrl": "@{body('Parse_Stripe_Response')?['url']}"
                                }
                            },
                            "runtimeConfiguration": {
                                "contentTransfer": {
                                    "transferMode": "Chunked"
                                }
                            }
                        },
                        "Parse_JSON": {
                            "runAfter": {
                                "Track_Correlation_ID": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@triggerBody()",
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "integer"
                                        },
                                        "firstName": {
                                            "type": "string"
                                        },
                                        "lastName": {
                                            "type": "string"
                                        },
                                        "email": {
                                            "type": "string"
                                        },
                                        "phone": {
                                            "type": "string"
                                        },
                                        "contactId": {
                                            "type": "string"
                                        },
                                        "hubspotContactId": {
                                            "type": "integer"
                                        },
                                        "plan": {
                                            "type": "string"
                                        },
                                        "createdAt": {
                                            "type": "string"
                                        },
                                        "updatedAt": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        },
                        "Track_Correlation_ID": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "correlationId",
                                        "type": "string",
                                        "value": "@{triggerOutputs()?['headers']?['x-correlation-id']}"
                                    }
                                ]
                            }
                        },
                        "Get_Zapier_Webhook_URL": {
                            "runAfter": {
                                "If_paid_subscriber": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['keyvault']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/secrets/@{encodeURIComponent('zapier-webhook-url')}/value"
                            },
                            "runtimeConfiguration": {
                                "secureData": {
                                    "properties": [
                                        "inputs",
                                        "outputs"
                                    ]
                                }
                            }
                        },
                        "If_Contact_is_not_in_HubSpot": {
                            "actions": {
                                "Get_HubSpot_Access_Token": {
                                    "runAfter": {
                                        "Compose_for_Hubspot": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['keyvault']['connectionId']"
                                            }
                                        },
                                        "method": "get",
                                        "path": "/secrets/@{encodeURIComponent('hubspot-api-access-token')}/value"
                                    },
                                    "runtimeConfiguration": {
                                        "secureData": {
                                            "properties": [
                                                "inputs",
                                                "outputs"
                                            ]
                                        }
                                    }
                                },
                                "Create_Hubspot_Contact_(HTTP_REST)": {
                                    "runAfter": {
                                        "Get_HubSpot_Access_Token": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Http",
                                    "inputs": {
                                        "uri": "https://api.hubapi.com/crm/v3/objects/contacts",
                                        "method": "POST",
                                        "headers": {
                                            "Authorization": "Bearer @{body('Get_HubSpot_Access_Token')?['value']}",
                                            "Content-Type": "application/json",
                                            "X-HubSpot-Correlation-Id": "@{variables('correlationId')}"
                                        },
                                        "body": "@outputs('Compose_for_Hubspot')"
                                    },
                                    "runtimeConfiguration": {
                                        "contentTransfer": {
                                            "transferMode": "Chunked"
                                        }
                                    }
                                },
                                "Compose_for_Hubspot": {
                                    "type": "Compose",
                                    "inputs": {
                                        "properties": {
                                            "firstname": "@{body('Parse_JSON')?['firstName']}",
                                            "lastname": "@{body('Parse_JSON')?['lastName']}",
                                            "email": "@{body('Parse_JSON')?['email']}",
                                            "phone": "@{body('Parse_JSON')?['phone']}",
                                            "external_contact_id": "@body('Parse_JSON')?['contactId']"
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "Parse_JSON": [
                                    "Succeeded"
                                ]
                            },
                            "else": {
                                "actions": {}
                            },
                            "expression": {
                                "equals": [
                                    "@body('Parse_JSON')?['hubspotContactId']",
                                    null
                                ]
                            },
                            "type": "If"
                        },
                        "If_paid_subscriber": {
                            "actions": {
                                "Get_Stripe_Secret_Key": {
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['keyvault']['connectionId']"
                                            }
                                        },
                                        "method": "get",
                                        "path": "/secrets/@{encodeURIComponent('stripe-api-key')}/value"
                                    },
                                    "runtimeConfiguration": {
                                        "secureData": {
                                            "properties": [
                                                "inputs",
                                                "outputs"
                                            ]
                                        }
                                    }
                                },
                                "Get_Stripe_Price_ID": {
                                    "runAfter": {
                                        "Get_Stripe_Secret_Key": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['keyvault']['connectionId']"
                                            }
                                        },
                                        "method": "get",
                                        "path": "/secrets/@{encodeURIComponent('stripe-price-id')}/value"
                                    },
                                    "runtimeConfiguration": {
                                        "secureData": {
                                            "properties": [
                                                "inputs",
                                                "outputs"
                                            ]
                                        }
                                    }
                                },
                                "Create_Stripe_Checkout_Session_(HTTP)": {
                                    "runAfter": {
                                        "Get_Stripe_Price_ID": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Http",
                                    "inputs": {
                                        "uri": "https://api.stripe.com/v1/checkout/sessions",
                                        "method": "POST",
                                        "headers": {
                                            "Authorization": "Bearer @{body('Get_Stripe_Secret_Key')?['value']}",
                                            "Content-Type": "application/x-www-form-urlencoded"
                                        },
                                        "body": "mode=subscription&line_items[0][price]=@{body('Get_Stripe_Price_ID')?['value']}&line_items[0][quantity]=1&customer_email=@{encodeUriComponent(body('Parse_JSON')?['email'])}&client_reference_id=@{body('Parse_JSON')?['contactId']}&success_url=https://{{AZURE_APP_NAME}}.azurewebsites.net/payment-success&cancel_url=https://{{AZURE_APP_NAME}}.azurewebsites.net/payment-cancelled"
                                    },
                                    "runtimeConfiguration": {
                                        "contentTransfer": {
                                            "transferMode": "Chunked"
                                        }
                                    }
                                },
                                "Parse_Stripe_Response": {
                                    "runAfter": {
                                        "Create_Stripe_Checkout_Session_(HTTP)": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@body('Create_Stripe_Checkout_Session_(HTTP)')",
                                        "schema": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string"
                                                },
                                                "object": {
                                                    "type": "string"
                                                },
                                                "adaptive_pricing": {
                                                    "type": "object",
                                                    "properties": {
                                                        "enabled": {
                                                            "type": "boolean"
                                                        }
                                                    }
                                                },
                                                "after_expiration": {},
                                                "allow_promotion_codes": {},
                                                "amount_subtotal": {
                                                    "type": "integer"
                                                },
                                                "amount_total": {
                                                    "type": "integer"
                                                },
                                                "automatic_tax": {
                                                    "type": "object",
                                                    "properties": {
                                                        "enabled": {
                                                            "type": "boolean"
                                                        },
                                                        "liability": {},
                                                        "provider": {},
                                                        "status": {}
                                                    }
                                                },
                                                "billing_address_collection": {},
                                                "branding_settings": {
                                                    "type": "object",
                                                    "properties": {
                                                        "background_color": {
                                                            "type": "string"
                                                        },
                                                        "border_style": {
                                                            "type": "string"
                                                        },
                                                        "button_color": {
                                                            "type": "string"
                                                        },
                                                        "display_name": {
                                                            "type": "string"
                                                        },
                                                        "font_family": {
                                                            "type": "string"
                                                        },
                                                        "icon": {},
                                                        "logo": {}
                                                    }
                                                },
                                                "cancel_url": {
                                                    "type": "string"
                                                },
                                                "client_reference_id": {
                                                    "type": "string"
                                                },
                                                "client_secret": {},
                                                "collected_information": {
                                                    "type": "object",
                                                    "properties": {
                                                        "business_name": {},
                                                        "individual_name": {},
                                                        "shipping_details": {}
                                                    }
                                                },
                                                "consent": {},
                                                "consent_collection": {},
                                                "created": {
                                                    "type": "integer"
                                                },
                                                "currency": {
                                                    "type": "string"
                                                },
                                                "currency_conversion": {},
                                                "custom_fields": {
                                                    "type": "array"
                                                },
                                                "custom_text": {
                                                    "type": "object",
                                                    "properties": {
                                                        "after_submit": {},
                                                        "shipping_address": {},
                                                        "submit": {},
                                                        "terms_of_service_acceptance": {}
                                                    }
                                                },
                                                "customer": {},
                                                "customer_account": {},
                                                "customer_creation": {
                                                    "type": "string"
                                                },
                                                "customer_details": {
                                                    "type": "object",
                                                    "properties": {
                                                        "address": {},
                                                        "business_name": {},
                                                        "email": {
                                                            "type": "string"
                                                        },
                                                        "individual_name": {},
                                                        "name": {},
                                                        "phone": {},
                                                        "tax_exempt": {
                                                            "type": "string"
                                                        },
                                                        "tax_ids": {}
                                                    }
                                                },
                                                "customer_email": {
                                                    "type": "string"
                                                },
                                                "discounts": {
                                                    "type": "array"
                                                },
                                                "expires_at": {
                                                    "type": "integer"
                                                },
                                                "invoice": {},
                                                "invoice_creation": {},
                                                "livemode": {
                                                    "type": "boolean"
                                                },
                                                "locale": {},
                                                "metadata": {
                                                    "type": "object",
                                                    "properties": {}
                                                },
                                                "mode": {
                                                    "type": "string"
                                                },
                                                "origin_context": {},
                                                "payment_intent": {},
                                                "payment_link": {},
                                                "payment_method_collection": {
                                                    "type": "string"
                                                },
                                                "payment_method_configuration_details": {
                                                    "type": "object",
                                                    "properties": {
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "parent": {}
                                                    }
                                                },
                                                "payment_method_options": {
                                                    "type": "object",
                                                    "properties": {
                                                        "card": {
                                                            "type": "object",
                                                            "properties": {
                                                                "request_three_d_secure": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        }
                                                    }
                                                },
                                                "payment_method_types": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "payment_status": {
                                                    "type": "string"
                                                },
                                                "permissions": {},
                                                "phone_number_collection": {
                                                    "type": "object",
                                                    "properties": {
                                                        "enabled": {
                                                            "type": "boolean"
                                                        }
                                                    }
                                                },
                                                "recovered_from": {},
                                                "saved_payment_method_options": {
                                                    "type": "object",
                                                    "properties": {
                                                        "allow_redisplay_filters": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "payment_method_remove": {
                                                            "type": "string"
                                                        },
                                                        "payment_method_save": {}
                                                    }
                                                },
                                                "setup_intent": {},
                                                "shipping_address_collection": {},
                                                "shipping_cost": {},
                                                "shipping_details": {},
                                                "shipping_options": {
                                                    "type": "array"
                                                },
                                                "status": {
                                                    "type": "string"
                                                },
                                                "submit_type": {},
                                                "subscription": {},
                                                "success_url": {
                                                    "type": "string"
                                                },
                                                "total_details": {
                                                    "type": "object",
                                                    "properties": {
                                                        "amount_discount": {
                                                            "type": "integer"
                                                        },
                                                        "amount_shipping": {
                                                            "type": "integer"
                                                        },
                                                        "amount_tax": {
                                                            "type": "integer"
                                                        }
                                                    }
                                                },
                                                "ui_mode": {
                                                    "type": "string"
                                                },
                                                "url": {
                                                    "type": "string"
                                                },
                                                "wallet_options": {}
                                            }
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "If_Contact_is_not_in_HubSpot": [
                                    "Succeeded"
                                ]
                            },
                            "else": {
                                "actions": {}
                            },
                            "expression": {
                                "and": [
                                    {
                                        "equals": [
                                            "@body('Parse_JSON')?['plan']",
                                            "paid"
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "keyvault": {
                                "id": "/subscriptions/b35c9371-3ef8-4b8c-8463-9acb834811c7/providers/Microsoft.Web/locations/centralus/managedApis/keyvault",
                                "connectionId": "[parameters('connections_keyvault_externalid')]",
                                "connectionName": "keyvault",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    ]
}